* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px 0;
    height: 100vh;
}

.container {
    background-color: #fff;
    width: 80%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.input-field {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-field input,
.input-field button {
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease;
}
.buttons {
    display: flex;
    padding: 0px;
    position: relative;
    max-width: auto;
}

.buttons > button {
    padding: 5px;
    margin: 5px;
    background-color: buttonface;
}

.buttons > input {
    background-color: #4466ee;
    position: relative;
    top: 5px;
    color: #fff;
    border-radius: 4px;
    border: none;
}

.input-field input {
    flex-grow: 1;
    margin-right: 10px;
}

.input-field input::placeholder {
    color: #aaa;
}

.input-field button {
    background-color: buttonface;
    color: black;
    cursor: pointer;
    border: .1px solid black;
}

.input-field button:hover {
    background-color: buttonface;
}

.post {
    border-radius: 8px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
}

.post h2 {
    margin: 0;
    color: #738a82;
    font-weight: 700;
}

.post p {
    margin: 10px 0 0;
    color: #333;
}

.post button {
    position: relative;
    background-color: buttonface;
    color: black;
    padding: auto;
    border-radius: 5px;
    cursor: pointer;
    border: .1px solid black;
}

.post button:hover {
    background-color: buttonface;
}

.update-fields {
    display: flex;
    margin-top: 20px;
    position: relative;
}

.update-fields > button {
    position: relative;
    color: black;
    border-radius: 4px;
    border: .1px solid black;
}

.update-fields > input {
    margin-bottom : 0px;
}

.div-container {
  display: block;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.box input::placeholder {
  text-align: center;
}

.sub-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}