<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Posts</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1>📚 Blog Posts</h1>
        <div class="input-field">
            <input type="text" id="api-base-url" placeholder="Enter API Base URL" value="http://127.0.0.1:5002/api">
            <button onclick="loadPosts()">Load Posts</button>
        </div>
        <div class="input-field">
            <input type="text" id="post-author" placeholder="*Enter Post Author">
            <input type="text" id="post-title" placeholder="*Enter Post Title">
            <input type="text" id="post-content" placeholder="*Enter Post Content">
            <input type="text" id="post-date" placeholder="*Enter Post Date - YYYY-MM-DD" pattern="\d{4}-\d{2}-\d{2}">
            <button onclick="addPost()">Add Post</button>
        </div>
        <div>
            <label for="sorting">Sort posts by:</label>
                <select name="sorting" id="sorting">
                    <option value="default" selected>Choose an option</option>
                    <option value="author_asc">by author in ascending</option>
                    <option value="author_desc">by author in descending</option>
                    <option value="title_asc">by title in ascending</option>
                    <option value="title_desc">by title in descending</option>
                    <option value="content_asc">by content in ascending</option>
                    <option value="content_desc">by content in descending</option>
                    <option value="date_asc">by date in ascending</option>
                    <option value="date_desc">by date in descending</option>
                </select>
            <input type="text" id="post-search" placeholder="Search for any post either by author, title or date" style="width: 350px;">
            <button onclick="search()">Search</button>
        </div>
        <div id="post-container">
            <!-- Blog posts will be inserted here by JavaScript -->
        </div>
    </div>

    <script src="static/main.js"></script>
</body>
</html>
